<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Testbed Control Console</title>

    <script src="js/vue.min.js"></script>
    <script src="js/d3.min.js"></script>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="icon" type="image/ico" href="resources/favicon.ico">
</head>

<body>
    <div class="container" id="app">
        <div class="row" id="header">
            <div class="two columns">
            </div>
            <div class="eight columns">
                <h1> Testbed Control Console </h1>
            </div>
            <div class="two columns">
                <p> Voltage: {{sensor.voltage | short}} V</p>
                <p> Current: {{sensor.current | short}} A</p>
            </div>
        </div>

        <div class="row" id="configSelection">
            <div class="three columns right">
                <h5> Active Control: </h5>
            </div>
            <div class="seven columns">
                <select v-model="state.activeControl" v-on:change="updateState">
                    <option v-for="option in state.controlOptions" v-bind:value="option"> {{option}} </option>
                </select>
            </div>
            <div class="one column">
                <button v-on:click="toggleEnable" v-bind:class="{'button-primary': state.isEnabled}">
                    <template v-if="state.isEnabled">
                        Disable
                    </template>
                    <template v-else>
                        Enable
                    </template>
                </button>
            </div>
        </div>
        <div class="row" id="configOptions">
            <div class="three columns right">
                <h5> Configuration: </h5>
            </div>
            <div class="seven columns">
                <template v-if="state.activeControl == 'None'">
                    <p> Change the active control method to view options. </p>
                </template>
                <template v-if="state.activeControl == 'Proportional'">
                    <p> Proportional Constant: </p>
                    <input v-model="state.controlSettings.proportional.constant">
                </template>
                <template v-if="state.activeControl == 'Bang-Bang'">
                    <p> Threshold: </p>
                    <input v-model="state.controlSettings.bangbang.threshold">
                    <p> Strength: </p>
                    <input v-model="state.controlSettings.bangbang.strength">
                </template>
                <template v-if="state.activeControl == 'PID'">
                    <p> P: </p>
                    <input v-model="state.controlSettings.pid.p">
                    <p> I: </p>
                    <input v-model="state.controlSettings.pid.i">
                    <p> D: </p>
                    <input v-model="state.controlSettings.pid.d">
                </template>
            </div>
            <div class="one column">
                <button v-on:click="updateState"> Update </button>
            </div>
        </div>
        <div class="row" id="targetSetting">
            <div class="three columns right">
                <h5> Set New Target: </h5>
            </div>
            <div class="seven columns">
                <p> &phi;: </p><input v-model.number="newTarget.x">
                <p> &theta;: </p><input v-model.number="newTarget.y">
                <p> &psi;: </p><input v-model.number="newTarget.z">
            </div>
            <div class="one column">
                <button v-on:click="updateTarget"> Update </button>
            </div>
        </div>

        <div class="row" id="data">
            <div class="three columns">
                <h3> Target </h3>
                <h5 class="symbol"> &phi;: {{state.controlSettings.target.x | long}} </h5>
                <h5 class="symbol"> &theta;: {{state.controlSettings.target.y | long}}</h5>
                <h5 class="symbol"> &psi;: {{state.controlSettings.target.z | long}}</h5>
            </div>

            <div class="three columns">
                <h3> Orientation </h3>
                <h5 class="symbol"> &phi;: {{sensor.euler.x | long}} </h5>
                <h5 class="symbol"> &theta;: {{sensor.euler.y | long}}</h5>
                <h5 class="symbol"> &psi;: {{sensor.euler.z | long}}</h5>
            </div>

            <div class="three columns">
                <h3> &Delta; Target </h3>
                <h5 class="symbol"> &phi;: {{sensor.euler.x - state.controlSettings.target.x | long}} </h5>
                <h5 class="symbol"> &theta;: {{sensor.euler.y - state.controlSettings.target.y | long}}</h5>
                <h5 class="symbol"> &psi;: {{sensor.euler.z - state.controlSettings.target.z | long}}</h5>
            </div>

            <div class="three columns">
                <h3> Velocity </h3>
                <h5 class="symbol"> &phi;: {{sensor.wheel.x * 100 | long}} </h5>
                <h5 class="symbol"> &theta;: {{sensor.wheel.y * 100 | long}}</h5>
                <h5 class="symbol"> &psi;: {{sensor.wheel.z * 100 | long}}</h5>
            </div>
        </div>

    </div>

    <script src="main.js"></script>
</body>
</html>
